{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<h1>Site e-commerce</h1>
<p>Bienvenue sur le site de e-commerce le plus cool du monde</p>
{% endblock %}
